* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

body .container {
    /* max-width: 1600px;
    margin: 0 auto; */
}

form {
    background-color: rgb(16, 32, 42);
    color: white;
}